alembic
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
databricks-cli
docker
entrypoints
Flask
fonttools
gitdb
GitPython
greenlet
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
llvmlite
Mako
Markdown
MarkupSafe
matplotlib
mlflow
numba
numpy
oauthlib
packaging
pandas
Pillow
protobuf
pyarrow
PyJWT
pyparsing
python-dateutil
pytz
PyYAML
querystring-parser
requests
scikit-learn
scipy
shap
six
slicer
smmap
SQLAlchemy
sqlparse
tabulate
threadpoolctl
tqdm
urllib3
websocket-client
Werkzeug
zipp
